
{% if (empeños) %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Cliente</th>
                <th scope="col">Empleado</th>
                <th scope="col">Producto</th>
                <th scope="col">Fecha de Empeño</th>
                <th scope="col">Fecha de Vencimiento</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Estado</th>
                <th scope="col">Total</th>
                
            </tr>
        </thead>
        <tbody>
            {% for empeño in empeños %}
            <tr id="Registro_{{ empeño['_id'] }}">
                <th scope="row">{{ empeño['_id'] }}</th>
                <td>{{ empeño['Cliente'] }}</td>
                <td>{{ empeño['Empleado'] }}</td>
                <td>{{ empeño['Producto'] }}</td>
                <td>{{ empeño['Fecha_Empeño'] }}</td>
                <td>{{ empeño['Fecha_Vencimiento'] }}</td>
                <td>{{ empeño['Cantidad'] }}</td>
                <td>{{ empeño['Precio_Unitario'] }}</td>
                <td>{{ empeño['Estado'] }}</td>
                <td>{{ empeño['Total'] }}</td>
                

                <td width="300">
                    <span style="display: flex; justify-content:space-between;">
                        <a href="#" type="button"
                            class="btn btn-warning btn-sm" tooltip="Ver Registro">
                            <i class="bi bi-eye"></i>
                            Ver Detall
                        </a>
                        <a href="#" class="btn btn-info btn-sm"
                            tooltip="Actualizar Registro">
                            <i class="bi bi-arrow-clockwise"></i>
                            Actualizar
                        </a>
                        <a href="#" id="id_{{ empeño['_id'] }}" onclick="eliminarEmpeñoJavaScript('{{ empeño._id }}');" class="btn btn-danger btn-sm"
                            tooltip="Eliminar Registro">
                            <i class="bi bi-trash3"></i>
                            Eliminar
                        </a>
                    </span>
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row mb-5">
    <div class="col-md-12">
        <h3 class="text-center">No hay Empeños</h3>
    </div>
</div>
{% endif %}