{% extends 'public/base.html' %}

{% block title%} Home {% endblock %}

{% block body %}

<h1>Bienvenido: "{{ name['Nombres'] }} {{ name['ApellidoPaterno'] }} {{name['ApellidoMaterno'] }}"</h1>
<div>
    <div class="col-button-one">
        <a href="{{ url_for('ventas') }}">
            <button class="button-one"><img class="metafora" src="static/assets/imgs/sale.png">VENTAS</button>
        </a>

        <a href="{{ url_for('empeños') }}">
            <button class="button-one"><img class="metafora" src="static/assets/imgs/empeño.png">EMPEÑOS</button>
        </a>
    </div>

    <div  class="col-button-two">
        
        <a href="{{ url_for('clientes') }}">
            <button class="button-two"> <img class="metafora" src="static/assets/imgs/cliente.png">CLIENTES</button>
        </a>

        <a href="{{ url_for('productos') }}">
            <button class="button-two"><img class="metafora" src="static/assets/imgs/producto.png">PRODUCTOS</button>
        </a>

        <a class="admin-only"href="{{ url_for('empleados') }}">
            <button class="button-two"><img class="metafora" src="static/assets/imgs/sale.png">EMPLEADOS</button>
        </a>
    </div>

</div>
<div>
    {% include 'public/pie.html' %}
</div>



{% endblock %}